.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* border-bottom: 2px solid #e5e5e5; */
}
.question > button {
  border-radius: 50%;
  border: 2px solid black;
}
.faq {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  justify-content: left;
}
.answer {
  padding: 1rem;
}
